{
  "extends": "@antfu",
  "rules": {
    "@typescript-eslint/semi": ["off", "never"],
    "antfu/if-newline": "off",
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/member-delimiter-style": [ "error", {} ],
    "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
    "@typescript-eslint/indent": "off",
    "operator-linebreak": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/prefer-ts-expect-error": "off"
  }
}
