---
---

<!-- drawer init and show -->
<slot name="button" />

<!-- drawer component -->
<div
  id="drawer-navigation"
  class="fixed z-40 h-screen p-4 overflow-y-auto bg-white w-80 dark:bg-slate-800"
  tabindex="-1"
  aria-labelledby="drawer-navigation-label"
>
  <h5
    id="drawer-navigation-label"
    class="text-base font-semibold text-slate-500 uppercase dark:text-slate-400"
  >
    Menu
  </h5>
  <button
    type="button"
    data-drawer-dismiss="drawer-navigation"
    aria-controls="drawer-navigation"
    class="text-slate-400 bg-transparent hover:bg-slate-200 hover:text-slate-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white"
  >
    <svg
      aria-hidden="true"
      class="w-5 h-5"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="py-4 overflow-y-auto">
    <h1>Hello, World!</h1>
    <slot />
  </div>
</div>

<script>
  // set the drawer menu element
  const targetEl = document.getElementById("drawer-navigation");

  // options with default values
  const options = {
    placement: "left",
    backdrop: true,
    bodyScrolling: false,
    edge: false,
    edgeOffset: "",
    backdropClasses:
      "bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-30",
    onHide: () => {
      console.log("drawer is hidden");
    },
    onShow: () => {
      console.log("drawer is shown");
    },
    onToggle: () => {
      console.log("drawer has been toggled");
    },
  };

  /*
   * targetEl: required
   * options: optional
   */
  const drawer = new Drawer(targetEl, options);
</script>
