---
import * as CONFIG from "../config";
import { MarkdownHeading } from "astro";

type Props = {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
import Navigation from "../components/navbar/navbar.astro";
import Head from "../components/utils/head.astro";
import Footer from "../components/footer.astro";

import "../styles/base.css";
---

<html lang={"en-us"} class="initial h-full">
  <head>
    <title>
      {
        frontmatter?.title
          ? `${frontmatter?.title} @ ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
    <Head />
  </head>
  <body class="h-full">
    <main
      class="w-full min-h-full grid grid-rows-base grid-cols-1 items-center bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-white justify-between"
    >
      <Navigation />
      <div class="w-full h-full">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
  <script>
    import "flowbite";
  </script>
  <script is:inline>
    // to apply initial dark mode setting during page load
    const theme = () => {
      if (typeof localStorage !== undefined && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    };
    const root = document.documentElement;
    if (theme() === "light") {
      root.classList.remove("dark");
    } else {
      root.classList.add("dark");
    }
  </script>
</html>
