---
import * as CONFIG from "../config";
import { MarkdownHeading } from "astro";

type Props = {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
import Navigation from "../components/navbar/navbar.astro";
import Head from "../components/utils/head.astro";
import Footer from "../components/footer.astro";

import "../styles/base.css";

import { Drawer } from "@components/drawer";
import Left from "@components/sidebars/left.astro";
---

<html lang={"en-us"} class="initial h-full">
  <head>
    <title>
      {
        frontmatter?.title
          ? `${frontmatter?.title} @ ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
    <Head />
  </head>
  <body class="h-full">
    <main
      id="headlessui-portal-root"
      class="w-full max-w-full min-h-full grid grid-rows-base grid-cols-1 items-center bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-white justify-between"
    >
      <Navigation>
        <Fragment slot={"menu"}>
          <div class="col-start-1 col-span-1 xl:hidden">
            <Drawer client:load>
              <Fragment slot="content">
                <Left />
              </Fragment>
            </Drawer>
          </div>
        </Fragment>
      </Navigation>
      <div class="w-full h-full flex items-stretch max-w-full">
        <div class="hidden xl:block bg-slate-50 p-8 dark:bg-slate-800">
          <Left />
        </div>
        <div class="flex-grow max-w-full">
          <slot />
        </div>
      </div>
      <Footer />
    </main>
  </body>
  <script>
    import "flowbite";
  </script>
  <script is:inline>
    // to apply initial dark mode setting during page load
    const theme = () => {
      if (typeof localStorage !== undefined && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    };
    const root = document.documentElement;
    if (theme() === "light") {
      root.classList.remove("dark");
    } else {
      root.classList.add("dark");
    }
  </script>
</html>
