---
import BaseLayout from "./base-layout.astro";
import LeftSidebar from "../components/sidebars/left.astro";
import RightSidebar from "../components/sidebars/right.astro";

type Props = {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
};

const props = Astro.props as Props;
const { headings } = props;
---

<BaseLayout {...props}>
  <div class="w-full flex justify-center">
    <div
      class="gap-4 lg:gap-8 p-4 lg:p-8 grid grid-cols-1 md:grid-cols-md-layout lg:grid-cols-layout md:grid-rows-md-layout justify-items-stretch"
    >
      <LeftSidebar />
      <div class="md:hidden h-[1px] w-full bg-current"></div>
      <slot />
      <div class="lg:hidden h-[1px] w-full bg-current"></div>
      <RightSidebar headings={headings} />
    </div>
  </div>
</BaseLayout>
