---
import BaseLayout from "./base-layout.astro";
import RightSidebar from "../components/sidebars/right.astro";

type Props = {
  frontmatter: CONFIG.Frontmatter;
  headings: MarkdownHeading[];
};

const props = Astro.props as Props;
const { headings } = props;
---

<BaseLayout {...props}>
  <div
    class="flex flex-col justify-center items-start p-4 w-full space-y-2 max-w-full md:flex-row-reverse md:p-8 md:space-x-4 md:space-x-reverse"
  >
    <div class="md:sticky md:top-4">
      <RightSidebar headings={headings} />
    </div>
    <div class="flex-grow max-w-full">
      <slot />
    </div>
  </div>
</BaseLayout>
