---
import BaseLayout from "./base-layout.astro";
import RightSidebar from "../components/sidebars/right.astro";
import { MarkdownHeading } from "astro";
import { Frontmatter } from "../config";

type Props = {
  frontmatter: Frontmatter;
  headings: MarkdownHeading[];
};

const props = Astro.props as Props;
const { headings } = props;
---

<BaseLayout {...props}>
  <div
    class="flex flex-col justify-center items-start w-full space-y-2 max-w-full md:flex-row-reverse md:space-x-4 md:space-x-reverse"
  >
    <div class="md:sticky md:top-0 p-4 md:p-8 ">
      <RightSidebar headings={headings} />
    </div>
    <div class="flex-grow max-w-full flex p-4 md:p-8">
      <div class="m-auto">
      <slot />
      </div>
    </div>
  </div>
</BaseLayout>
