---
import type { Frontmatter } from "../../config";
import DarkToggle from "../utils/dark-toggle";
import { GithubButton } from "../landingpage/utils";

const posts = await Astro.glob<{ url: string; frontmatter: Frontmatter }>(
  "../../pages/**/*.{md,mdx}"
);

// only unique folders
const folders = ["Getting Started", "Advanced", "API"];
---

<aside class="items-start flex flex-col space-y-4" aria-label="Sidebar">
  <a
    href={"/"}
    class:list={[
      "flex items-center -mx-2 p-2 w-full text-base font-normal text-slate-900 rounded-lg dark:text-white hover:bg-slate-100 dark:hover:bg-slate-700",
      {
        "bg-slate-200 dark:bg-slate-600": "/" === Astro.url.pathname,
      },
    ]}
  >
    <h2 class="text-2xl">Landingpage</h2>
  </a>
  {
    folders.map((f) => {
      // get pages for that folder and sort by index
      const folderPosts = posts
        .filter((p) => p.frontmatter.folder === f)
        .sort((a, b) => a.frontmatter.index - b.frontmatter.index);

      return (
        <Fragment>
          <h2 class="mb-2 text-2xl">{f}</h2>
          <ul class="space-y-2 w-full">
            {folderPosts.map((post) => (
              <li>
                <a
                  href={post.url}
                  class:list={[
                    "flex items-center p-2 text-base font-normal text-slate-900 rounded-lg dark:text-white hover:bg-slate-100 dark:hover:bg-slate-700",
                    {
                      "bg-slate-200 dark:bg-slate-600":
                        post.url === Astro.url.pathname,
                    },
                  ]}
                >
                  {post.frontmatter.icon ? (
                    <>
                      {post.frontmatter.icon}
                      <span class="ml-2">{post.frontmatter.title}</span>
                    </>
                  ) : (
                    post.frontmatter.title
                  )}
                </a>
              </li>
            ))}
          </ul>
        </Fragment>
      );
    })
  }

  <div class="flex justify-center w-full space-x-2">
    <DarkToggle client:idle />
    <GithubButton />
  </div>
</aside>
