---
import DarkToggle from "../utils/dark-toggle.tsx";

const { headings } = Astro.props;
---

<aside class="w-full flex flex-col space-y-4" aria-label="Sidebar">
  {
    headings !== undefined && (
      <div>
        <h2 class="mb-2 text-2xl">On this page</h2>
        <ul class="space-y-2 list-disc list-inside">
          <li class="items-center p-2 text-base font-normal text-slate-900 rounded-lg dark:text-white hover:bg-slate-100 dark:hover:bg-slate-700">
            <a href={"#"}>Top of page</a>
          </li>
          {headings.map(({ depth, slug, text }) => (
            <li class="items-center p-2 text-base font-normal text-slate-900 rounded-lg dark:text-white hover:bg-slate-100 dark:hover:bg-slate-700">
              <a href={`#${slug}`}>{text}</a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
  <div>
    <h2 class="mb-2 text-2xl">More</h2>
    <ul class="space-y-2 list-outside">
      <li>
        <a
          href={"#"}
          class="flex items-center p-2 text-base font-normal text-slate-900 rounded-lg dark:text-white hover:bg-slate-100 dark:hover:bg-slate-700"
          >🖋 <span class="ml-3">Edit this page</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex justify-center">
    <DarkToggle client:idle />
  </div>
</aside>
