---
import BaseLayout from "@layouts/base-layout.astro";
---

<BaseLayout>
  <div class={"h-full flex flex-col items-center"}>
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-slate-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      404... Nothing here 🔎
    </h1>
    <p
      class="mb-6 text-lg font-normal text-slate-500 lg:text-xl sm:px-16 dark:text-slate-400"
    >
      The page you are looking for couldn't be found!
    </p>
    <a
      href="/"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
    >
      <svg
        class="w-6 h-6 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        ></path>
      </svg>
      Take me Home
    </a>
  </div>
</BaseLayout>
