.container {
  height: 100vh;
}

html,
body,
#root {
  /* position: fixed;
    top: 0;
    left: 0; */
  width: 100%;
  height: 100%;
  background: #111;
}
.scene {
  height: 100vh;
}

.text1 {
  position: fixed;
  color: red;
  top: 20%;
  left: 50%;
  font-size: 40px;
  transition-duration: 1s;
}
.text2 {
  position: fixed;
  color: blue;
  top: 60%;
  left: 10%;
  transition-duration: 1s;
  font-size: 40px;
}
.text3 {
  position: fixed;
  color: white;
  top: 50%;
  left: 60%;
  font-size: 40px;
  transition-duration: 1s;
}
